.mobile-car-outer-wrapper {
  width: 100%;
  background-color: #ffffff;
}

.mobile-car-wrapper {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 0.5rem;
}

.car-model-header {
  display: flex;
  gap: 8px;
}

.tech-inspection-vip {
  background-color: #ff3b30;
  padding: 3px 6px 4px 6px;
  border-radius: 6px;
  font-size: 9px;
  color: #ffffff;
  font-weight: bold;
  height: fit-content;
}

.price-customs {
  display: flex;
  height: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.customs {
  height: fit-content;
  border-radius: 6px;
  padding: 4px 8px 4px 4px;
}

.car-img {
  border-radius: 16px;
  object-fit: cover;
  width: 100%;
}

.price-set {
  margin-left: 10px;
}
.price-not-set {
  font-size: 12px;
  width: 140px;
}

.favorite-icon {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 2;
}

.car-info {
  display: flex;
  justify-content: space-between;
}

.car-info p {
  color: #454857;
  font-size: 12px;
}

.run-fuel-gear,
.cat-wheel-location {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.views-date-icons {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e4e7eb;
}

.views-date-icons > div {
  padding: 20px;
  display: inherit;
  gap: 8px;
  font-size: 11px;
}

.views-date {
  width: 300px;
}

/* Mobile car loading skeleton */

.m-skeleton {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.mobile-car-loading-skeleton {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  background-color: #ffffff;
  height: 451px;
  padding: 20px;
  border-bottom: 1px solid #f1f1f1;
}

.m-skeleton-1,
.m-skeleton-2,
.m-skeleton-3 {
  display: flex;
  gap: 10px;
  width: 100%;
}

.vip-skeleton,
.model-year-skeleton,
.m-skeleton-2 div {
  height: 20px;
  border-radius: 5px;
  background-color: #f1f1f1;
  animation: skeletonLoading 3s infinite ease-in-out;
}
.vip-skeleton {
  width: 20%;
}

.model-year-skeleton {
  width: 80%;
}

.m-skeleton-2 div {
  width: 33%;
}

.m-skeleton-3 {
  background-color: #f1f1f1;
  height: 250px;
  border-radius: 16px;
  animation: skeletonLoading 3s infinite ease-in-out;
}

.m-skeleton-4 {
  display: flex;
  justify-content: space-between;
}

.m-skeleton-4 > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.m-skeleton-4 > div div {
  width: 100px;
  height: 20px;
  border-radius: 5px;
  background-color: #f1f1f1;
  animation: skeletonLoading 3s infinite ease-in-out;
}

.m-skeleton-5 {
  padding: 20px;
  border-top: 1px solid #e4e7eb;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
}

.m-skeleton-5 > div {
  display: flex;
  gap: 10px;
  align-items: center;
}

.m-skeleton-5 > div .m-skeleton-icon {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: #f1f1f1;
  animation: skeletonLoading 3s infinite ease-in-out;
}

.m-text-skeleton {
  width: 70px;
  height: 20px;
  border-radius: 5px;
  background-color: #f1f1f1;
  animation: skeletonLoading 3s infinite ease-in-out;
}

/* filters */

.filters {
  display: flex;
  gap: 8px;
  flex-direction: row;
  overflow-x: scroll;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.filters::-webkit-scrollbar{
  display: none;
}

.each-filter-div {
  height: fit-content;
  text-align: center;
  color: #454857;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 100px;
  padding: 10px;
  gap: 8px;
  cursor: pointer;

  
}

.each-filter-div p {
  text-align: center;
  max-width: 80px;
  font-size: 12px;
}

.each-filter-div img {
  background-color: #F2F2F6;
  border-radius: 100px;
  cursor: pointer;
}

@keyframes skeletonLoading {
  100% {
    background-color: #f1f1f1;
  }
  50% {
    background-color: #f1f1f175;
  }

  0% {
    background-color: #f1f1f1;
  }
}

@media only screen and (min-width: 501px) {
  .mobile-car-wrapper {
    display: none;
  }

  .views-date-icons {
    display: none;
  }

  .m-skeleton {
    display: none;
  }
  
   .filters{
    display: none;
  } 
}

