.type-deals-wrapper,
.type-mans-wrapper,
.type-cats-wrapper,
.type-models-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.deals-type,
.mans-type,
.cats-type,
.models-type {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 0.3rem;
  cursor: pointer;
}

.deals-type > h5,
.mans-type > h5,
.cats-type > h5,
.models-type > h5{
  font-weight: 600;
  color: #272a37;
  font-size: 12px;
}

.deals-outer-div,
.mans-outer-div,
.cats-outer-div,
.models-outer-div {
  cursor: pointer;
  display: flex;
  justify-content: space-around;
}

.deals-search-div,
.mans-search-div,
.cats-search-div,
.models-search-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #908d8d3e;
  padding: 8px;
  border-radius: 8px;
  transition: all 300ms linear;
}

.deals-search-div input,
.mans-search-div input,
.cats-search-div input,
.models-search-div input {
  font-size: 13px;
  text-align: left;
  border: none;
  outline: transparent;
  color: #707382;
}

.deals-search-div:hover,
.mans-search-div:hover,
.cats-search-div:hover,
.models-search-div:hover {
  border: 1px solid #908d8d8c;
}

.expand-close-delete:hover {
  padding: 1px;
  border-radius: 100%;
  background-color: #d9dbe1;
}



.each-deal-wrapper {
  padding: 8px;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: -10px;
}
.each-deal {
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.for-rent-deals, .models-dropdown {
  display: flex;
  margin-left: 12px;
}

.models-dropdown{
  border-left: 1px solid #25273420;
  padding: 5px;
}

.models-dropdown > div {
margin-left: 5px;;
}

.models-dropdown{
  gap: 20px;
}

.for-rent-deals hr {
  width: 1px;
  border: none;
  border-radius: 3px;
  margin-top: 3px;
  outline: transparent;
  height: 8rem;
  background-color: #eae9ee;
}

.models-dropdown{
  height: fit-content;
}


.rent-deals {
  padding: 10px;
  padding-top: 0;
}

.deals-list {
  background-color: white;
  z-index: 5;
  border: 1px solid #d8dbe2;
  border-radius: 8px;
  padding: 10px;
  padding-right: 0px;
  padding-left: 0px;
  position: absolute;
  top: 75px;
  width: 82%;
}

.mans-list {
  background-color: white;
  z-index: 5;
  border: 1px solid #d8dbe2;
  border-radius: 8px;
  padding: 10px;
  padding-right: 0px;
  padding-left: 0px;
  position: absolute;
  top: 148px;
  width: 82%;
}

.cats-list {
  background-color: white;
  z-index: 5;
  border: 1px solid #d8dbe2;
  border-radius: 8px;
  padding: 10px;
  padding-right: 0px;
  padding-left: 0px;
  position: absolute;
  top: 295px;
  width: 82%;
}

.models-list{
  background-color: white;
  z-index: 5;
  border: 1px solid #d8dbe2;
  border-radius: 8px;
  padding: 10px;
  padding-right: 0px;
  padding-left: 0px;
  position: absolute;
  top: 220px;
  width: 82%;
}

.scrollable-mans,
.scrollable-cats,
.scrollable-models {
  overflow-y: scroll;
  height: 230px;
  background-color: #ffffff;
  padding-left: 10px;
  padding-top: 0;
}

.scrollable-mans::-webkit-scrollbar,
.scrollable-cats::-webkit-scrollbar,
.scrollable-models::-webkit-scrollbar {
  width: 3px;
}

.scrollable-mans::-webkit-scrollbar-thumb,
.scrollable-cats::-webkit-scrollbar-thumb,
.scrollable-models::-webkit-scrollbar-thumb {
  background-color: #41444c;
  margin-top: 5px;
  position: relative;
  border-radius: 10px;
}

.no-search-result {
  color: rgba(123, 118, 118, 0.632);
  font-size: 14px;
  padding: 3px;
}

.popular-options {
  display: flex;
  column-gap: 30px;
  align-items: center;
  margin-top: -20px;
  margin-bottom: -20px;
  padding: 5px;
}

.popular-options > h5 {
  font-size: 1rem;
  font-weight: 600;
  color: #1c1b1ba7;
}
.popular-options hr {
  transform: rotate(90deg);
  width: 1px;
  border: none;
  border-radius: 3px;
  margin-top: 3px;
  outline: transparent;
  height: 50px;
  background-color: #85858544;
}


.each-man,
.each-deal,
.each-model,
.each-models-man {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 5px;
  font-weight: 300;
  font-family: "Poppins";
  color: #858585f8;
  cursor: pointer;
  font-size: 15px;
  transition: all 300ms linear;
}



.each-models-man {
  width: 100%;
  height: fit-content;
  
}
.each-models-man > div{
  width: 80%;
  display: flex;
  gap: 10px;
  align-items: center;
}


.each-man > p:hover,
.each-deal > p:hover {
  color: #646262f8;
}

.each-man > input,
.each-deal > input,
.each-model > input,
.each-models-man > div > input,
.each-models-man > input {
  cursor: pointer;
}



.each-models-man hr {
  width: 10%;
  border: none;
  border-radius: 3px;
  margin-top: 3px;
  outline: transparent;
  height: 1px;
  background-color: #e9e9f0;
}


input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 4px;
  border: 1px solid #a7aeb8;
}

input[type="checkbox"]:checked {
  background-color: #fd4101;
  border: 1px solid #fd4101;
}

input[type="checkbox"]:checked::after {
  content: url("../../icons/check.svg");
  display: block;
  text-align: center;
  color: white;
}

.clear-mans-submit,
.clear-cats-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #d9dbdf;
  padding: 5px;
}

.clear-mans-submit p,
.clear-cats-submit p {
  font-size: 13px;
  color: #6b7387;
  line-height: 15px;
  cursor: pointer;
  padding-left: 5px;
  cursor: pointer;
}

.clear-mans-submit p:hover,
.clear-cats-submit p:hover {
  color: #323232;
}

.clear-mans-submit button,
.clear-cats-submit button {
  border: none;
  outline: transparent;
  color: white;
  background-color: #fd4101;
  border-radius: 5px;
  padding: 3px 10px 5px 10px;
  margin-right: 5px;
  font-size: 14px;
  cursor: pointer;
}
